flows.json
[
    {
        "id": "3f26aff70b3b641a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1cf91f22a3bcb80d",
        "type": "ui_colour_picker",
        "z": "3f26aff70b3b641a",
        "name": "",
        "label": "",
        "group": "12c2b6add728ede0",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "ab6144b18b414c16",
                "2fe7dcbf4822b00a"
            ]
        ]
    },
    {
        "id": "ab6144b18b414c16",
        "type": "debug",
        "z": "3f26aff70b3b641a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "2fe7dcbf4822b00a",
        "type": "function",
        "z": "3f26aff70b3b641a",
        "name": "Color",
        "func": "let hex = msg.payload;\n\n// Convertir HEX a RGB\nlet r = parseInt(hex.substring(1,3), 16);\nlet g = parseInt(hex.substring(3,5), 16);\nlet b = parseInt(hex.substring(5,7), 16);\n\nmsg.payload = `R:${r}, G:${g}, B:${b}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 160,
        "wires": [
            [
                "c5dd0c57dfd28aab",
                "cf9c4a53697abfdb"
            ]
        ]
    },
    {
        "id": "cf9c4a53697abfdb",
        "type": "file",
        "z": "3f26aff70b3b641a",
        "name": "",
        "filename": "/home/pi/rgb.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 580,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "c5dd0c57dfd28aab",
        "type": "ui_text_input",
        "z": "3f26aff70b3b641a",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "12c2b6add728ede0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 560,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "12c2b6add728ede0",
        "type": "ui_group",
        "name": "Color",
        "tab": "171c87facc4163ae",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "171c87facc4163ae",
        "type": "ui_tab",
        "name": "Tab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c7ff346867d54846",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]